In [5]:
import pandas as pd
import numpy as np

In [19]:
Pclass = [3,1,3,1,3,3] 
Survived = [0, 1, 1, 1, 0, 0] 
Fare = [7.25, 71.28 , 7.93, 53.1, 8.05, 8.46]

In [24]:
titanic_data = pd.DataFrame({'Passenger_Class' : Pclass, 'Survived': Survived, 'Passenger_Fare': Fare})
titanic_data.head()

   Passenger_Class  Survived  Passenger_Fare
0                3         0            7.25
1                1         1           71.28
2                3         1            7.93
3                1         1           53.10
4                3         0            8.05

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
features = ['Survived', 'Fare'] 
X = titanic_data[features] 
Y = titanic_data['Pclass']

KeyError: ignored

Dang......